body {
    background-color: rgb(70, 70, 70);
}

h4 {
    text-align: center;
    color: #f7f7f7;
}

h5 {
    font-weight: bolder;
}

.well {
    background-color: lightgray;
}

#sample-metadata {
    background-color: rgb(70, 70, 70);
    color: #f7f7f7;
    font-weight: bold;
}

.jumbotron {
    background-image: url("../images/21917.tif");
    background-size: 100% 100%;
    text-align: center;
    color: #f7f7f7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}